* {color: #333; font-family: Verdana, sans-serif; margin: 0; padding: 0}
body{background: url(strek_gradient.gif) repeat-x 0 100px; font-size: 100%;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline; }
a:focus {
    outline: 2px solid #0000ee;
    outline-offset: 2px;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
    outline: 2px solid #fff;
}
.header {margin-left: 3em; padding-left: 50px;}
.header h1 { color: #C5CBD6; font-size: 2.6em; font-weight: normal; padding: 15px 0 0; }
.header p { color: #BBC1CC; font-size: 0.9em; }
#tjinfo { background: transparent url(tjinfo.gif) no-repeat 0 20px;}
#elkat { background: transparent url(intern_tlfkat.gif) no-repeat 0 20px; }
.it-header{font-size: 1.2em; position: absolute; right: 35px; top:20px; }
.it-header img { margin-right: 0.55em; vertical-align: middle;}
.it-header a{ border-left: solid 1px #a00; color: #333; padding: 0.8em 1em;}
.container{background: url(strek_ill.gif) no-repeat 0 100px; min-width: 45em; padding-top: 1px; position: relative;}
.left, .content{margin-top: 15px; padding: 2.6em 2.19em; }

.left {float: left; width: 10.5em;}
.left ul{list-style: none;}
.left li{margin-bottom: 0.8em;}
.left h2{border-bottom: solid 1px #c8d1d5; border-top: solid 1px #c8d1d5; font-family: "Times New Roman" serif; font-size: 1em; font-weight: normal; text-transform: uppercase;}
.left h2 span {background: url(pil.gif) no-repeat right center; font-family: inherit; padding-right: 1.4em;}
.left a{color: #287995; display: block; font-size: 0.8em; padding-left: 1.3em !important;}
.left h2, .left a{padding: 0.05em 1em;}

#lang{display: none;}

.content{margin-left: 12.88em; margin-right: 10%;}
.content h1, .content legend{font-size: 2.4em; font-weight: normal;}
.content h2, .content legend{font-size: 1.4em; font-weight: normal;}
.content h2 { margin-bottom: 1em;}
.content p{font-size: 0.75em; line-height: 1.2em; margin: 0 0 1.4em; }
.content form{ padding: 1px; position: relative; line-height: 1.2em;}
.content fieldset{border: solid 3px #eee; padding: 2em;}
.content legend span{position: absolute; top: 1em;}
.content a{color: #0000ee;}
.content a:link{color: #0000ee;}
.content a:visited{color: #084a5a;}
.content input[type=radio], i { margin-right: 0.5em; }

.colophone{border-top: solid 1px #c8d1d5; clear: left; padding-top: 1px; text-align: center;}
.colophone div{margin: 0 auto; padding-top: 1.6em; width: 25em; max-width: 100%;}
.colophone img{float: left; margin-right: 1em; }
.colophone p{font-size: 0.6em; text-align: left;}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .header {
        margin-left: 1em;
        padding-left: 1em;
    }

    .header h1 {
        font-size: 1.8em;
    }

    .it-header {
        position: static;
        margin-top: 1em;
        font-size: 1em;
    }

    .it-header a {
        display: inline-block;
        padding: 0.5em;
        border-left: none;
    }

    .container {
        min-width: auto;
        padding: 0 1em;
    }

    .content {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
    }

    .content ul {
        padding-left: 1em;
    }

    .content li {
        margin-bottom: 1em;
    }

    .colophone div {
        width: auto;
        padding: 1em;
    }

    .colophone img {
        float: none;
        display: block;
        margin: 0 auto 1em;
    }

    .colophone p {
        text-align: center;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 480px) {
    .header h1 {
        font-size: 1.4em;
    }

    .header p {
        font-size: 0.8em;
    }

    .it-header img {
        display: block;
        margin: 0 auto 0.5em;
    }
}
