{% extends "base.html" %}

{% block content %}
		<body id="hvordan">
	<div id="nav">

		{% include "history_menu.html" %}
		
		<div class="info-history-individual">
			<h2>{{ history_title }}</h2>				
				<div class="content-history">
					<!--<div id="my_CSS3_id"> -->
						<div class="image">
							{{ history_image|safe }}
							{{ history_image_text }} 
						</div>
						<div class="image-history">
							<p>{{ history_content|safe }} </p>
												
						</div><!--end css3-->
						
					</div>
					
				</div>
		</div>
		<!--<div class="info-history-main2">
			<a href ="/gallery"> <img src="/media/glass/galleri.jpg" border="none" title="Galleri"/></a>
		</div>-->
			<!--<div id="category-bar">
				<span class="historie">Historie</span>
			</div>-->
	</div><!--end nav-->
		</body>
{% endblock %}
