<div class="info-history">
			<div class="links">
				<ul class="menu">
				<li><a href ="/history/"><title="">Historie</a></li>
				<li><a href ="/history/hvordan/"><title=""/>Hvordan lages glass?</a></li>
				<li><a href ="/history/terminologi/"><title=""/>Terminologi</a></li>
				
				<li><a href ="/history/teknikker/" title=""><span style="float:right; padding-right:15px; color: #334358;">+</span>Dekorasjonsteknikker</a>
					<!--<ul class="sub">
						<li><a href="/history/teknikker/optisk/">Optisk dekor</a></li>
						<li><a href="/history/teknikker/paalagt/">Pålagt dekor</a></li>
						<li><a href="/history/teknikker/filigrandekor/">Filigrandekor</a></li>
						<li><a href="/history/teknikker/isglassdekor/">Isglassdekor</a></li>
						<li><a href="/history/teknikker/paamaltdekor/">Påmalt dekor</a></li>
						<li><a href="/history/teknikker/sliptoggravertdekor/">Slipt og gravert dekor</a></li>
					</ul>-->
				</li>
				
				<li><a href ="/history/skogsglass/"><span style="float:right; padding-right:15px; color: #334358;">+</span>Skogsglass</a>
					<!--<ul class="sub">
						<li><a href="/history/skogsglass/nuppenbecher/">Nuppenbecher</a></li>
						<li><a href="/history/skogsglass/romerogberkemeyer/1/">Rømer- og berkemeyerglass</a></li>
						<li><a href="/maigelein/1/">Maigeleinglass</a></li>
						<li><a href="/stangen/1/">Stangenglass</a></li>
					</ul>-->
				</li>
				<li><a href ="/history/venetianske-glass/"><span style="float:right; padding-right:15px; color: #334358;">+</span>Venetianske glass</a>
					<!--<ul class="sub">
						<li><a href="/history/venetianske-glass/isglass/">Isglass</a></li>
							<li><a href="/isglass/1/">Isglass</a></li>
						<li><a href="/history/venetianske-glass/stettglass/">Stettglass</a></li>
						<li><a href="/history/venetianske-glass/filigranglass/">Filigranglass</a></li>
					</ul>-->
				</li>
				<li><a href ="/history/andretyperglass/"><span style="float:right; padding-right:15px; color: #334358;">+</span>Andre typer glass</a>
					<!--<ul class="sub">
						<li><a href="/history/andretyperglass/fadenrippenbecher/">Fadenrippenbecher</a></li>
						<li><a href="/history/andretyperglass/blaattbeger/">Blått beger</a></li>
						<li><a href="/history/andretyperglass/karaffel/">Karaffel i blått glass</a></li>
						<li><a href="/history/andretyperglass/lureglass/">Lureglass</a></li>
					</ul>-->
				</li>
				<li><a href ="/history/nyglassmote/" id="nymote"><span style="float:right; padding-right:15px; color: #334358;">&equiv; </span>Den nye glassmoten fra <br/>England og Tyskland </a>
						<ul class="sub">
						<li><a href="/history/nyglassmote/tumbler/" id="tumb">Tumbler</a></li>
						<li><a href="/history/nyglassmote/balusterstett/" id="balu">Balusterstett</a></li>
						<li><a href="/history/nyglassmote/pokal/" id="pok">Pokal</a></li>
						<li><a href="/history/nyglassmote/blaattbegerhvitdekor/" id="blhvit">Blått beger med hvit dekor</a></li>
						<li><a href="/history/nyglassmote/opak/" id="opak">Opak</a></li>
					</ul>
				</li>	
				<li><a href ="/history/lesningogreferanser/"><title=""/>Videre lesning og referanser</a></li>	
				</ul>
			</div>			
		</div>