{% extends "base.html" %}

{% block content %}
<body id="stang">

	<div id="nav">

		{% include "skogsglass_menu.html" %}
		
			<div class="gallery_main_info">
			<h2>{{ history_title }}</h2>
			{{ history_content|safe }}
		</div>
		
		<div id="loader"></div>
		<div class="gallery_main_mini">
					
				<div class="content-history">
					<h3>Stangenglass</h3>
{% include "gallery.inc" %}
			</div>
				<div id="linker_hoved">
					<p><a href="/history/skogsglass/" id="Skogsglass">Gå til Skogsglass</a></p>
				</div>
		</div>
	</div><!--end nav-->
	</body>
{% endblock %}
