/* Base styles */
* {
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(strek_gradient.gif) repeat-x 0 100px;
    font-size: 100%;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #0051a5;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 3px solid #0051a5;
    outline-offset: 2px;
}

/* Skip link for accessibility */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #0051a5;
    color: white;
    padding: 8px 16px;
    z-index: 100;
    font-weight: bold;
}

.skip-link:focus {
    top: 0;
    outline: 3px solid white;
}

/* Header styles */
.header {
    margin-left: 3em;
    padding-left: 50px;
}

.header h1,
.header h3 {
    color: #C5CBD6;
    font-size: 2.6em;
    font-weight: normal;
    padding: 15px 0 0;
}

.header p {
    color: #BBC1CC;
    font-size: 0.9em;
}

#tjinfo {
    background: transparent url(tjinfo.gif) no-repeat 0 20px;
}

#elkat {
    background: transparent url(intern_tlfkat.gif) no-repeat 0 20px;
}

.it-header {
    font-size: 1.2em;
    position: absolute;
    right: 35px;
    top: 20px;
}

.it-header img {
    margin-right: 0.55em;
    vertical-align: middle;
}

.it-header a {
    border-left: solid 1px #a00;
    color: #333;
    padding: 0.8em 1em;
}

/* Container */
.container {
    background: url(strek_ill.gif) no-repeat 0 100px;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1px;
    position: relative;
}

/* Navigation */
.left,
nav.left {
    float: left;
    width: 10.5em;
    margin-top: 15px;
    padding: 2.6em 2.19em;
}

.left ul {
    list-style: none;
}

.left li {
    margin-bottom: 0.8em;
}

.left h2 {
    border-bottom: solid 1px #c8d1d5;
    border-top: solid 1px #c8d1d5;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

.left h2 span {
    background: url(pil.gif) no-repeat right center;
    font-family: inherit;
    padding-right: 1.4em;
}

.left a {
    color: #287995;
    display: block;
    font-size: 0.8em;
    padding-left: 1.3em !important;
}

.left h2,
.left a {
    padding: 0.05em 1em;
}

#lang {
    display: none;
}

/* Main content */
.content,
main.content {
    margin-left: 12.88em;
    margin-right: 5%;
    margin-top: 15px;
    padding: 2.6em 2.19em;
}

.content h1,
.content legend {
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.content h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-top: 1em;
}

.content p {
    font-size: 0.9em;
    line-height: 1.6em;
    margin: 0 0 1.4em;
}

.content a {
    color: #0051a5;
}

.content a:link {
    color: #0051a5;
}

.content a:visited {
    color: #084a5a;
}

/* Form styles */
.content form {
    padding: 1px;
    position: relative;
    line-height: 1.4em;
}

.content fieldset {
    border: solid 2px #c8d1d5;
    padding: 2em;
    margin-bottom: 1em;
}

.content legend {
    font-size: 1.4em;
    padding: 0 0.5em;
}

.content legend span {
    position: absolute;
    top: 1em;
}

.form-group {
    margin-bottom: 1.2em;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
    font-size: 0.9em;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid #c8d1d5;
    border-radius: 3px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus {
    outline: 3px solid #0051a5;
    outline-offset: 2px;
    border-color: #0051a5;
}

.form-group input[type="radio"] {
    margin-right: 0.3em;
    margin-left: 0.5em;
}

.form-group input[type="radio"]:first-child {
    margin-left: 0;
}

.form-actions {
    margin: 1.5em 0;
}

.content input[type="submit"],
.content input[type="reset"] {
    background-color: #0051a5;
    color: white;
    border: none;
    padding: 0.8em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 0.5em;
}

.content input[type="submit"]:hover,
.content input[type="reset"]:hover {
    background-color: #003d7a;
}

.content input[type="submit"]:focus,
.content input[type="reset"]:focus {
    outline: 3px solid #0051a5;
    outline-offset: 2px;
}

.content input[type="radio"],
.content i {
    margin-right: 0.5em;
}

/* Footer */
.colophone,
footer.colophone {
    border-top: solid 1px #c8d1d5;
    clear: left;
    padding-top: 1px;
    text-align: center;
}

.colophone div {
    margin: 0 auto;
    padding-top: 1.6em;
    max-width: 30em;
}

.colophone img {
    float: left;
    margin-right: 1em;
}

.colophone p {
    font-size: 0.7em;
    text-align: left;
    line-height: 1.4em;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .header {
        margin-left: 1em;
        padding-left: 20px;
    }

    .header h1,
    .header h3 {
        font-size: 1.8em;
    }

    .it-header {
        position: static;
        margin-top: 1em;
        padding: 1em 0;
        border-top: 1px solid #c8d1d5;
    }

    .it-header a {
        border-left: none;
        padding: 0.5em 0;
        display: block;
    }

    .left,
    nav.left {
        float: none;
        width: 100%;
        padding: 1em;
    }

    .content,
    main.content {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
    }

    .colophone img {
        float: none;
        display: block;
        margin: 0 auto 1em;
    }

    .colophone p {
        text-align: center;
    }

    .content fieldset {
        padding: 1em;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"] {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header h1,
    .header h3 {
        font-size: 1.5em;
    }

    .content h1 {
        font-size: 1.8em;
    }

    .content h2 {
        font-size: 1.3em;
    }

    .content fieldset {
        padding: 0.5em;
    }

    .content input[type="submit"],
    .content input[type="reset"] {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
    }
}

/* High contrast mode support */
@media (prefers-contrast: high) {
    * {
        border-color: currentColor;
    }

    a:focus,
    input:focus,
    button:focus {
        outline-width: 4px;
    }
}

/* Reduced motion support */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}
